<h1>Watchlists</h1>

<style>
form {
    margin: 0 auto;
    width:250px;
}
.tftable {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
    color: #333333;
    width: 90%;
    border-width: 1px;
    border-collapse: collapse;
}

.tftable th {
    font-size: 12px;
    background-color: #fff;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    text-align: center;
}

.tftable tr {
    background-color: #ffffff;
}

.tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9a9a9;
}


</style>

<form action="/dashboard/:wlist" method="post">
    <div>
        <label>Create Watchlist</label>
        <input type="text" name="watchlist"/>
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>


<table class="tftable" border="1">
    <tr>
        <th>Watchlist</th>
        <th>Created at</th>
        <th>Updated at</th>
    </tr>
    {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.updatedAt}}</td>
        </tr>
    {{/each}}

</table>
<br>
<br>