<h1>Watchlists</h1>

{{message}}
<style>
form {
margin: 0 auto;
width:250px;
}
</style>

<form action="/dashboard" method="post">
    <div>
        <label>Create Watchlist</label>
        <input type="text" name="watchlist"/>
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>